# Global settings
log-queries
log-dhcp

# Bind only to specified interfaces, not all
bind-interfaces

# Don't use /etc/resolv.conf
no-resolv

# Explicitly disable DHCP on WAN and other interfaces
no-dhcp-interface={{ interface }}
no-dhcp-interface={{ interface }}.{{ wan.vlan }}

{% if lan1.dhcp_enabled | default(false) %}
# DHCP configuration for LAN1
interface={{ interface }}.{{ lan1.vlan }}
dhcp-range={{ lan1.dhcp_start }},{{ lan1.dhcp_end }},{{ lan1.netmask }},{{ dhcp.lease_time }}
dhcp-option=option:router,{{ lan1.address }}
dhcp-option=option:dns-server,{{ dhcp.dns_servers | join(',') }}
{% endif %}

{% if lan2.dhcp_enabled | default(false) %}
# DHCP configuration for LAN2
interface={{ interface }}.{{ lan2.vlan }}
dhcp-range={{ lan2.dhcp_start }},{{ lan2.dhcp_end }},{{ lan2.netmask }},{{ dhcp.lease_time }}
dhcp-option=option:router,{{ lan2.address }}
dhcp-option=option:dns-server,{{ dhcp.dns_servers | join(',') }}
{% endif %}
