# Global settings
log-queries
log-dhcp

# Bind only to specified interfaces, not all
bind-interfaces

# Don't use /etc/resolv.conf
no-resolv

# Listen ONLY on these interfaces (this restricts both DNS and DHCP)
interface={{ interface }}.{{ lan1.vlan }}
interface={{ interface }}.{{ lan2.vlan }}
# Also listen on loopback for local DNS resolution
interface=lo

{% if pxe.enabled | default(false) %}
# Enable TFTP server
enable-tftp
tftp-root={{ pxe.tftp_root }}

# UEFI PXE Boot configuration
# Match UEFI clients by architecture option
dhcp-match=set:efi64,option:client-arch,7
dhcp-match=set:efi64,option:client-arch,9
# Set boot filename for UEFI clients
dhcp-boot=tag:efi64,EFI/BOOT/BOOTX64.EFI
{% endif %}

# Tag requests based on the interface they arrive on
dhcp-match=set:lan1,{{ interface }}.{{ lan1.vlan }}
dhcp-match=set:lan2,{{ interface }}.{{ lan2.vlan }}

{% if lan1.dhcp_enabled | default(false) %}
# DHCP configuration for LAN1
dhcp-range=tag:lan1,{{ lan1.dhcp_start }},{{ lan1.dhcp_end }},{{ lan1.netmask }},{{ dhcp.lease_time }}
dhcp-option=tag:lan1,option:router,{{ lan1.address }}
dhcp-option=tag:lan1,option:dns-server,{{ dhcp.dns_servers | join(',') }}
{% endif %}

{% if lan2.dhcp_enabled | default(false) %}
# DHCP configuration for LAN2
dhcp-range=tag:lan2,{{ lan2.dhcp_start }},{{ lan2.dhcp_end }},{{ lan2.netmask }},{{ dhcp.lease_time }}
dhcp-option=tag:lan2,option:router,{{ lan2.address }}
dhcp-option=tag:lan2,option:dns-server,{{ dhcp.dns_servers | join(',') }}
{% endif %}
